/* Global Style*/
*{
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: 'Poppins', sans-serif;
}
html{
    font-size: 62.5%;
    scroll-behavior: smooth;
}


li{
    list-style: none;
}

a{
    color: white;
    text-decoration: none;
    font-size:1.6rem;
    font-weight: 400;
}

h1{
    font-size: 3rem;
    z-index: 1;
}

h3{
    font-size: 1.4rem;
    z-index: 1;
}



/* Main */


.main .principal{
    background: url('./img/fondo-sinverde.jpg');
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}

.main .principal::before{
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: #0c522a;
    opacity: 0.7;
    top: 0rem;
}

.main-head{
    z-index: 1;
}






/* Seccion Principal*/


.principal{
    min-height: 90vh;
    padding: 2rem 0rem;
   color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.principal img{
    width: 25%;
    z-index: 1;
}

#titulo{
    margin-bottom: 1rem;
}

#titulo-dos{
    max-width: 55rem;
    text-align: center;
    color: white;
    font-weight: 400;
    border: 2px solid rgb(206, 204, 204);
    border-radius: 10px;
    padding: 1rem;
}

.input{
    z-index: 1;
}


#input-email{
    margin-top: 2.5rem;
    padding: 1rem 1rem;
    border-radius: 0.5rem;
    width: 30rem;
    border: none;
    z-index: 1;
    
}

#CTA{
    border: #0c522a;
    background: #0c522a;
    color: white;
    padding: 1rem 1rem;
    border-radius: 0.5rem;
    font-weight: 600;
    cursor: pointer;
    width: 20rem;
    margin-top: 2.5rem;
    margin-right: 2.5rem;
    z-index: 1;
}

#CTA:hover{
    background: #0f6635;
}




/* Footer */

footer{
    min-height: 10vh;
    background:#0f6635;
    color: white;
}

footer .texto-footer{
    display: flex;
    align-content: center;
    justify-content: center;
    text-align: center;
    padding: 1rem;
}

footer .menu ul{
   display: flex;
   justify-content: center;
   align-items: center;
   text-align: center;
   padding: 1rem 0;
}

.menu ul li{
   list-style: none;
}
a{
   text-decoration: none;
   padding: 0 2.5rem;
   width: 5px;
}

#twitter{
   font-size: 3rem;
    color: white;
   z-index: 1;
}

#facebook{
    font-size: 3rem;
    
    color: white;
 }

 #linkedin{
    font-size: 3rem;
    color: white;
    
 }

 #youtube{
    font-size: 3rem;
    color: white;
    
 }

 #twitter:hover{
    font-size: 3.2rem;
    color: #00acee;
    
 }
 
 #facebook:hover{
     font-size: 3.2rem;
     color: #3b5998;
  }
 
  #linkedin:hover{
      font-size: 3.2rem;
     color: #0e76a8;
  }

  #youtube:hover{
      font-size: 3.2rem;
      color: #c4302b;
  }

 /* Media queries */

 @media screen and (max-width: 932px){
    html{
        font-size: 45%;
    }
    nav{
        text-align: center;
    }

  
    .principal img{
        width: 30%;
    }

    #titulo-dos{
        color:white;
        max-width: 70rem;
        font-size: 2rem;
        font-weight: 500;
    }

    #input-email{
        margin-bottom: 2rem;
        border: 1px solid #0c522a;
        width: 40rem;
    }

    #CTA{
        padding: 1rem 1rem;
        border-radius: 0.5rem;
        width: 25rem;
    }

    #titulo-footer{
        font-size: 2rem;
    }

}

@media screen and (max-width: 500px){
    .principal img{
        width: 40%;
        margin-bottom: 2rem;
    }

    #titulo{
        margin-bottom: 2rem;
    }

    #titulo-dos{
        max-width: 90%;
        font-size: 1.8rem;
        margin-bottom: 1rem;
    }

    #input-email{
        margin-bottom: 2rem;
        border: 1px solid #0c522a;
        width: 90%;
        align-items: center;
        text-align: center;
    }

    #CTA{
        max-width: 90%;
        margin: auto;
        padding: 1rem 1rem;
        border-radius: 0.5rem;
        width: 90%;
        
    }
}